* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  padding: 20px 300px;
}

.upper-header-container {
  background-color: #0282F9;
  display: flex;
  justify-content: flex-end;
}

.upper-header-container a {
  text-decoration: none;
  color: white;
  padding-left: 20px;
  font-size: 10px;
}

.main-header-container .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header-container .wrapper a {
  text-decoration: none;
  color: #4C4E4E;
  padding-left: 20px;
  font-size: 15px;
}

.jumbotron-container {
  height: 400px;
  background-image: url(/images/jumbotron.jpg?1b0a3671766964a4114f90322970b124);
}

.main-container {
  background-color: #1C1C1C;
}

.current-series {
  background-color: #0282F9;
  padding: 10px;
  color: white;
  display: inline-block;
  position: relative;
  top: -40px;
}

.comics-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.comics-container .comic-card {
  width: calc( 100% / 6);
}

.comics-container .comic-card img {
  margin-bottom: 10px;
}

.comics-container .comic-card span {
  color: white;
  text-transform: uppercase;
}

.load-more-container {
  display: flex;
  justify-content: center;
}

.load-more-container .load-more {
  background-color: #0282F9;
  padding: 10px;
}

.load-more-container .load-more a {
  color: white;
  text-decoration: none;
}

.sub-main-container {
  background-color: #0282F9;
}

.sub-main-container .sub-main-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sub-main-container .sub-main-nav-container .sub-main-nav-option {
  display: flex;
  align-items: center;
  color: white;
}

.sub-main-container .sub-main-nav-container .sub-main-nav-option img {
  width: 50px;
  margin-right: 10px;
}

.footer-continer {
  background-image: url(/images/footer-bg.jpg?dfd68d2946f211e1b678af05fd2f830b);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-continer .footer-links-container,
.footer-continer .background-cover-logo-container {
  width: calc(100% / 2);
}

