* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  padding: 20px 300px;
}

ul {
  list-style-type: none;
}

a {
  font-weight: bolder;
}

.upper-header-container {
  background-color: #0282F9;
  display: flex;
  justify-content: flex-end;
}

.upper-header-container a {
  text-decoration: none;
  color: white;
  padding-left: 20px;
  font-size: 13px;
}

.main-header-container .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header-container .wrapper a {
  text-decoration: none;
  color: #4C4E4E;
  margin-left: 20px;
  font-size: 15px;
}

.active {
  border-bottom: 3px solid #0282F9;
  padding-bottom: 62px;
}

.active span {
  color: #0282F9;
}

.header-search-bar {
  border-bottom: 1px solid #0282F9;
}

.jumbotron-container {
  height: 400px;
  background-image: url(/images/jumbotron.jpg?1b0a3671766964a4114f90322970b124);
}

.main-container {
  background-color: #1C1C1C;
}

.current-series {
  background-color: #0282F9;
  padding: 10px;
  color: white;
  display: inline-block;
  position: relative;
  top: -40px;
}

.comics-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.comics-container .comic-card {
  width: calc( 100% / 6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.comics-container .comic-card img {
  margin-bottom: 10px;
}

.comics-container .comic-card span {
  color: white;
  text-transform: uppercase;
}

.load-more-container {
  display: flex;
  justify-content: center;
}

.load-more-container .load-more {
  background-color: #0282F9;
  padding: 10px;
}

.load-more-container .load-more a {
  color: white;
  text-decoration: none;
}

.sub-main-container {
  background-color: #0282F9;
}

.sub-main-container .sub-main-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sub-main-container .sub-main-nav-container .sub-main-nav-option {
  display: flex;
  align-items: center;
  color: white;
}

.sub-main-container .sub-main-nav-container .sub-main-nav-option img {
  width: 50px;
  margin-right: 10px;
}

.product-top-main {
  background-color: #0282F9;
  height: 100px;
}

.product-top-main .product-card-container {
  border: 1px solid white;
  position: relative;
  top: -250px;
  height: 290px;
  width: 190px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.product-top-main .product-card-container span {
  background-color: #00A9D9;
  color: white;
  font-size: 12px;
}

.product-top-main .product-card-container .half-span {
  width: 50%;
}

.product-core-main {
  display: flex;
  margin-top: 30px;
}

.product-core-main .comic-info-container {
  display: flex;
  flex-direction: column;
}

.product-core-main .comic-info-container .comic-sale-info-container {
  display: flex;
  background-color: #55BA59;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  margin-top: 15px;
}

.product-core-main .comic-info-container .comic-sale-info-container .comic-sale-info-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-right: 1px solid black;
  flex-grow: 1;
  padding: 20px;
}

.product-core-main .comic-info-container h1 {
  text-transform: uppercase;
  color: #003F73;
}

.product-core-main .comic-info-container a {
  padding: 0 10px;
  text-decoration: none;
  color: white;
}

.product-core-main .comic-info-container span {
  color: #89E780;
}

.comic-description-container {
  margin-top: 15px;
}

.comic-description-container p {
  color: #8F887B;
  line-height: 2em;
}

.advertisement-container {
  margin-left: 20px;
}

.advertisement-container h3 {
  text-align: right;
  color: #8F887B;
}

.tea-element-container {
  display: flex;
  border-bottom: 1px solid #E7E7E7;
  padding-bottom: 40px;
}

.tea-element-container .inner-tea-element-container {
  display: flex;
  justify-content: space-between;
}

.tea-element-container .inner-tea-element-container span {
  color: #003F73;
}

.tea-element-container .artists-links-container {
  padding-left: 50px;
}

.tea-element-container .artists-links-container a {
  color: #0282F9;
  text-decoration: none;
}

.tea-element-container h2 {
  color: #003F73;
}

.tes-container {
  height: 500px;
  border: 1px solid #E7E7E7;
  background-color: #F6F6F6;
}

.tes-container .tes-content-container {
  display: flex;
}

.tes-container .tes-content-container .talent-container {
  display: flex;
  flex-direction: column;
}

.footer-continer {
  background-image: url(/images/footer-bg.jpg?dfd68d2946f211e1b678af05fd2f830b);
  background-size: cover;
}

.footer-content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-content-container .footer-links-container {
  display: flex;
}

.footer-content-container .footer-links-container li {
  color: #8F887B;
  margin-bottom: 5px;
}

.footer-content-container .footer-links-container h3 {
  color: white;
  margin-bottom: 15px;
}

.footer-content-container .footer-links-container .double-link-container {
  display: flex;
  flex-direction: column;
}

.link-container {
  margin: 10px;
}

.reserved-rights-container p {
  color: #8F887B;
}

.reserved-rights-container p a {
  text-decoration: none;
  color: #0282F9;
}

.bottom-footer-container {
  background-color: #303030;
}

.bottom-footer-container .bottom-footer-content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom-footer-container .bottom-footer-content-container .sign-up-container {
  padding: 15px;
  border: 1px solid #0282F9;
}

.bottom-footer-container .bottom-footer-content-container .sign-up-container a {
  text-decoration: none;
  color: white;
}

.bottom-footer-container .bottom-footer-content-container .socials-container {
  display: flex;
  align-items: center;
}

.bottom-footer-container .bottom-footer-content-container .socials-container span {
  color: #0282F9;
}

.bottom-footer-container .bottom-footer-content-container .socials-container img {
  margin-left: 10px;
}

