*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//Wrapper
.wrapper{
    padding: $inner-padding;
}

//common
body{
    font-family: 'Roboto', sans-serif;
}
ul{
    list-style-type: none;
    li{
        font-weight: bolder;
    }
}
a{
    font-weight: bolder;
    text-decoration: none;
}