
.upper-header-container{
    background-color: $primary-color;
    display: flex;
    justify-content: flex-end;

    a{
        text-decoration: none;
        color: white;
        padding-left: 20px;
        font-size: 13px;
    }
    
}

.main-header-container{
    .wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        a{
            text-decoration: none;
            color: #4C4E4E;
            margin-left: 20px;
            font-size: 15px;
        }
    }
}

.active{
    border-bottom: 3px solid $primary-color;
    padding-bottom: 62px;
    span{
        color: $primary-color;
    }
}

.header-search-bar{
    border-bottom: 1px solid $primary-color;
}

.jumbotron-container{
    height: 400px;
    background-image: url('../../../public/img/jumbotron.jpg');
}